**__pycache__**
/det3d/ops/iou3d_nms/build
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh 
*.pth
*.pkl
*.zip
*.bin
*.onnx
*.log
.vscode/
/data/
/docs/
/spconv-scn/
/workspace/
/work_dirs/
/deploy copy/
/configs/
/assets/

 