*.tensor filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
workspace/bevfusion/infer.zyx.coors filter=lfs diff=lfs merge=lfs -text
workspace/bevfusion/output.xyz.dense filter=lfs diff=lfs merge=lfs -text
workspace/bevfusion/output.zyx.dense filter=lfs diff=lfs merge=lfs -text
workspace/bevfusion/bevfusion.scn.xyz.onnx filter=lfs diff=lfs merge=lfs -text
workspace/bevfusion/infer.xyz.dense filter=lfs diff=lfs merge=lfs -text
workspace/bevfusion/infer.xyz.voxels filter=lfs diff=lfs merge=lfs -text
workspace/bevfusion/infer.zyx.voxels filter=lfs diff=lfs merge=lfs -text
workspace/bevfusion/bevfusion.scn.zyx.onnx filter=lfs diff=lfs merge=lfs -text
workspace/bevfusion/infer.xyz.coors filter=lfs diff=lfs merge=lfs -text
workspace/bevfusion/infer.zyx.dense filter=lfs diff=lfs merge=lfs -text
workspace/centerpoint/centerpoint.scn.onnx filter=lfs diff=lfs merge=lfs -text
workspace/centerpoint/in_features.torch.fp16.tensor filter=lfs diff=lfs merge=lfs -text
workspace/centerpoint/in_indices_xyz.torch.int32.tensor filter=lfs diff=lfs merge=lfs -text
workspace/centerpoint/in_indices_zyx.torch.int32.tensor filter=lfs diff=lfs merge=lfs -text
workspace/centerpoint/out_dense.torch.fp16.tensor filter=lfs diff=lfs merge=lfs -text
workspace/centerpoint/output.zyx.dense filter=lfs diff=lfs merge=lfs -text
tool/bevfusion-export/data/camera.lidar.features.pth filter=lfs diff=lfs merge=lfs -text
tool/bevfusion-export/data/input.pth filter=lfs diff=lfs merge=lfs -text
